* {
    box-sizing: content-box; !important;
}
body {
    background-color: #eee;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
@font-face {
    font-family: 'Bebas';
    src: url(../fonts/AA-BebasNeue.ttf);
}
.mainblock {
    background-color: #fff;
    width: 940px;
    border: 1px #000 solid;
    margin: 0 auto;
}
.centerblock {
    width: 940px;
    height: 480px;
    margin: auto;
    margin-top: 70px;
    background: url('../images/img/4G_2-01.png') no-repeat;
    background-size: 100%;
    position: relative;
    font-family: 'Bebas';
}
.etap-block {
    width: 105px;
    height: 160px;
    background: url('../images/img/4G_2-36.png') no-repeat;
    background-size: 100%;
    position: absolute;
    margin-top: -70px;
}
.etap-text {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #662d91;
}
.etap-1 {
    margin-left: 130px;
}
.etap-2 {
    margin-left: 330px;
}
.etap-3 {
    margin-left: 530px;
}
.etap-4 {
    margin-left: 730px;
}
.etap-5 {
    margin: 193px 0 0 190px;
}
.etap-6 {
    margin: 193px 0 0 430px;
}
/*Изначальные классы*/
.box {
    background: url('../images/img/4G_2-40.png') no-repeat;
    background-size: 100%;
}
.human {
    background: url('../images/img/4G_2-37.png') no-repeat;
    background-size: 100%;
}
.hexahedron {
    background: url('../images/img/4G_2-38.png') no-repeat;
    background-size: 100%;
}
.gear {
    background: url('../images/img/4G_2-39.png') no-repeat;
    background-size: 100%;
}
/*Классы по уровням сложности*/
.boxes-hard {
    position: relative;
}
.boxes-hard .box{
    width: 50px;
    height: 55px;
    position: absolute;
}
.boxes-hard .box-1 {
    margin: 36px 0px 0px 157px;
}
.boxes-hard .box-2 {
    margin: 300px 0px 0px 217px;
}
.boxes-hard .box-3 {
    margin: 210px 0px 0px 300px;
}
.boxes-hard .box-4 {
    margin: 210px 0px 0px 355px;
}
.boxes-hard .box-5 {
    margin: 300px 0px 0px 457px;
}
.boxes-hard .box-6 {
    margin: 210px 0px 0px 520px;
}
.boxes-hard .box-7 {
    margin: 210px 0px 0px 575px;
}
.boxes-hard .box-8 {
    margin: 210px 0px 0px 630px;
}
.humans-hard {
    position: relative;
}
.humans-hard .human {
    width: 60px;
    height: 70px;
    position: absolute;
}
.humans-hard .human-1 {
    margin: 36px 0px 0px 257px;
}
.humans-hard .human-2 {
    margin: 36px 0px 0px 457px;
}
.humans-hard .human-3 {
    margin: 36px 0px 0px 657px;
}
.humans-hard .human-4 {
    margin: 290px 0px 0px 97px;
}
.humans-hard .human-5 {
    margin: 290px 0px 0px 332px;
}
.humans-hard .human-6 {
    margin: 290px 0px 0px 557px;
}
.hexahedrons-hard {
    position: relative;
}
.hexahedrons-hard .hexahedron {
    width: 65px;
    height: 65px;
    position: absolute;
}
.hexahedrons-hard .hexahedron-1 {
    margin: 100px 0px 0px 220px;
}
.hexahedrons-hard .hexahedron-2 {
    margin: 100px 0px 0px 420px;
}
.hexahedrons-hard .hexahedron-3 {
    margin: 100px 0px 0px 620px;
}
.hexahedrons-hard .hexahedron-4 {
    margin: 357px 0px 0px 60px;
}
.hexahedrons-hard .hexahedron-5 {
    margin: 357px 0px 0px 295px;
}
.hexahedrons-hard .hexahedron-6 {
    margin: 357px 0px 0px 520px;
}
.gears-hard {
    position: relative;
}
.gears-hard .gear {
    width: 58px;
    height: 58px;
    position: absolute;
}
.gears-hard .gear-1 {
    margin: 100px 0px 0px 290px;
}
.gears-hard .gear-2 {
    margin: 100px 0px 0px 490px;
}
.gears-hard .gear-3 {
    margin: 100px 0px 0px 690px;
}
.gears-hard .gear-4 {
    margin: 357px 0px 0px 140px;
}
.gears-hard .gear-5 {
    margin: 357px 0px 0px 385px;
}
.gears-hard .gear-6 {
    margin: 357px 0px 0px 590px;
}
/*Большая красная кнопка*/
.bigRedButton {
    cursor: pointer;
    position: absolute;
    background: url('../images/img/4G_2-03.png');
    background-size: 100%;
    width: 160px;
    height: 160px;
    margin-top: 260px;
    margin-left: 750px;
}
.bigRedButton:hover {
    background: url('../images/img/4G_2-04.png');
    background-size: 100%;
}
.bigRedButton:active {
    background: url('../images/img/4G_2-04.png');
    background-size: 100%;
    margin-top: 262px;
    margin-left: 752px;
}

.bigRedButton-text {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
/* Стрелка */
.arrow {
    background: url('../images/img/4G_2-02.png') no-repeat;
    background-size: 100%;
    position: absolute;
    width: 80px;
    height: 45px;
}
.arrow-1 {
    margin: 100px 0px 0px 830px;
}
.arrow-2 {
    margin: 240px 0px 0px 20px;
}
/*Нижняя менюшка*/
.bottomblock {
    font-family: 'Bebas';
}
.bottomblock-top {
    font-size: 20px;
}
.bottomblock-bottom {
    padding: 30px 0px;
    background: url('../images/img/4G_2-60.png');
    background-size: 120%;
    text-align: center;
    font-size: 14px;
}
.grid-4 {
    cursor: pointer;
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 5px;
}
.grid-3 {
    width: 33%;
}
.grid-2 {
    width: 50%;
}
.grid-1 {
    width: 100%;
}
/*Иконки*/
.icons {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
}
.icon-hexahedron {
    background: url('../images/img/4G_2-09-1.png') no-repeat;
    width: 110px;
    height: 100px;
    margin: 0 15px;
    background-size: 100%;
}
.icon-human {
    background: url('../images/img/4G_2-10-1.png') no-repeat;
    width: 95px;
    height: 100px;
    margin: 0 23px;
    background-size: 100%;
}
.icon-gear {
    background: url('../images/img/4G_2-11-1.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 20px;
    background-size: 100%;
}
.icon-box {
    background: url('../images/img/4G_2-12-1.png') no-repeat;
    width: 95px;
    height: 100px;
    margin: 0 23px;
    background-size: 100%;
}
/*Цветные иконки*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.icons-color {
    text-align: center;
    position: absolute;
    overflow: hidden;
    z-index: 9;
    font-size: 10px;
}
.icon-color-hexahedrons {
    background: url('../images/img/4G_2-05.png') no-repeat;
    width: 65px;
    height: 65px;
    background-size: 100%;
}
.icon-color-human {
    background: url('../images/img/4G_2-06.png') no-repeat;
    width: 60px;
    height: 70px;
    background-size: 100%;
}
.icon-color-gear {
    background: url('../images/img/4G_2-08.png') no-repeat;
    width: 58px;
    height: 58px;
    background-size: 100%;
}
.icon-color-box {
    background: url('../images/img/4G_2-07.png') no-repeat;
    width: 50px;
    height: 55px;
    background-size: 100%;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Цвета*/
.color-1 {
    background-color: #f26521;
}
.color-2 {
    background-color: #8dc63f;
}
.color-3 {
    background-color: #26aae1;
}
.color-4 {
    background-color: #da1c5c;
}
/*Дополнительно*/
.clear {
    clear: both;
}

.icon-container {
    width: 60px;
    margin: 0 auto;
}
.img-container {
    height: 40px;
    width: 60px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
.img-container img {
    max-width: 60px;
    max-height: 40px;
}
.img-container-gear {
    height: 30px;
    width: 60px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.img-container-gear img {
    max-width: 60px;
    max-height: 30px;
}
.img-container-box {
    height: 30px;
    width: 60px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
.img-container-box img {
    max-width: 60px;
    max-height: 30px;
}
.tablecell {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    line-height: 14px;
}
.tablecell-human {
    padding-top: 0px; /*было 20px*/
    height: 80px;
    width: 60px;
}
.tablecell-hexahedron {
    height: 50px;
    width: 80px;
}
.tablecell-gear {
    height: 25px; /*было 50*/
    width: 80px;
}
.tablecell-box {
    height: 40px;
    width: 80px;
}
/*Для цветных иконок*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.icons-color-hard {
}

.icons-color-hard .icon-color-container {
    width: 50px;
    margin: 0 auto;
}
.icons-color-hard .img-color-container {
    height: 25px;
    width: 50px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}
.icons-color-hard .img-color-container img {
    max-width: 40px;
    max-height: 20px;
}
.icons-color-hard .img-color-container-gear {
    height: 20px;
    width: 40px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
.icons-color-hard .img-color-container-gear img {
    max-width: 30px;
    max-height: 20px;
}
.icons-color-hard .img-color-container-box {
    height: 15px;
    width: 40px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}
.icons-color-hard .img-color-container-box img {
    max-width: 30px;
    max-height: 15px;
}
.icons-color-hard .tablecell-color {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    line-height: 10px;
}
.icons-color-hard .tablecell-color-human {
    padding-top: 10px;
    height: 60px;
    width: 60px;
}
.icons-color-hard .tablecell-color-hex {
    height: 25px;
    width: 50px;
}
.icons-color-hard .tablecell-color-gear {
    height: 25px;
    width: 50px;
}
.icons-color-hard .tablecell-color-box {
    height: 20px;
    width: 50px;
}
/*Экран выбора уровня сложности*/
.dif-bg-color {
    background-color: #9699f2;
    text-align: center;
}
.dif-header {
    font-family: 'Bebas';
    font-size: 70px;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}
.dif-selector {
    background: url('../img/other/4G-07.png');
    background-size: 120%;
    padding: 40px;
    text-align: center;
    color: #fff;
}
.dif-selector-container {
    padding: 0px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.dif-selector-container:hover .dif-selector-title{
    color: #f44;
}
.dif-selector-dif {
    width: 140px;
    height: 140px;
}
.dif-selector-easy {
    background: url("../images/img/other/4G-01.png") 50%;
    background-size: 140%;

}
.dif-selector-mid {
    background: url("../images/img/other/4G-02.png") 50%;
    background-size: 140%;
}
.dif-selector-hard {
    background: url("../images/img/other/4G-03.png") 50%;
    background-size: 140%;
}
.dif-selector-title {
    font-family: 'Bebas';
    font-size: 30px;
}
.dif-btn-start {
    background: url("../images/img/other/4G-08.png") no-repeat;
    background-size: 100%;
    width: 400px;
    font-family: 'Bebas';
    font-size: 35px;
    color: #f4f037;
    text-align: center;
    padding: 40px 0;
    display: inline-block;
    margin: 40px 0px;
    cursor: pointer;
}
.dif-btn-start:hover {
    background: url("../images/img/other/4G-17.png") no-repeat;
    background-size: 100%;
    color: #231f20;
}
/*Самый первый экран*/
.start-cars {
    background: url("../images/img/other/4G-05.png") no-repeat;
    background-size: 100%;
    background-position: 0px -200px;
    width: 940px;
    height: 540px;
}
.start-plant {
    background: url("../images/img/other/4G-06.png") no-repeat;
    background-size: 100%;
    width: 300px;
    height: 230px;
    display: inline-block;
}
.start-mg-logo {
    background: url("../images/img/other/4G-.png") no-repeat;
    background-size: 100%;
    width: 200px;
}
.start-title {
    font-family: 'Bebas';
    font-size: 35px;
    color: #fff;
    width: 200px;
    margin: 0 auto;
    line-height: 30px;
    padding-top: 200px;
}
/*Промежуточные экраны*/
.midscreen-bg-color {
    background-color: #231f20;
    text-align: center;
}
.mid-btn-start {
    background: url("../images/img/other/4G-17.png") no-repeat;
    background-size: 100%;
    color: #231f20;
    width: 400px;
    font-family: 'Bebas';
    font-size: 35px;
    text-align: center;
    padding: 40px 0;
    display: inline-block;
    margin: 40px 0px;
    cursor: pointer;
}
.mid-container {
    text-align: center;
}
.mid-container-text {
    font-family: 'Bebas';
    color: #fff;
    font-size: 35px;
    padding-top: 20px;
}
.mid-container img {
    max-width: 600pc;
    max-height: 300px;
}
.mid-name-container {
    padding: 20px 0px;
}
.mid-name-text {
    font-family: 'Bebas';
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
}
.mid-input-container {
    display: inline-block;
    vertical-align: top;
}
.mid-input {
    margin-left: 20px;
    border: 4px solid #fff;
    background-color: #231f20;
    border-radius: 0px;
    vertical-align: top;
    width: 300px;
    height: 30px;
    font-family: 'Bebas';
    color: #fff;
    font-size: 30px;
}
.mid-btn-ok {
    background: url("../images/img/other/4G-09.png") no-repeat;
    background-size: 100%;
    height: 60px;
    width: 130px;
    display: inline-block;
    margin: -10px 0 0 -50px;
}
.mid-btn-txt {
    background-color: #fff;
    color: #231f20;
    font-family: 'Bebas';
    font-size: 20px;
    width: 40px;
    height: 25px;
    line-height: 20px;
    margin: 20px 0 0 20px;
}
/*Факты*/
.pd-25{padding: 25px;}

.factheader{
    font-size: 2.5em;
}
.factMain{
    background-color: #333;
    box-sizing:border-box;
    color:white;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 25%;
    min-height: 450px;
    max-height: 450px;
}
.width-100{width: 100%;}
.width-50{width: 50%;}
.factMain img{padding-bottom: 5px;}
.factMain:nth-last-of-type(2){margin-right: 0%;}
.mg-bt-40{margin-bottom: 40px;}
.mg-bt-60{margin-bottom: 60px;}
.mg-bt-80{margin-bottom: 80px;}

.oX-940{
    width: 940px;
    margin: 0 auto;
}
/*Справочник*/
.text-blue{color: #3498db;}
.text-yellow{color: #f1c40f;}
.pstn-rel{position: relative;}
.pstn-abs{position: absolute;}
.additional-text{
    background-color: rgba(55, 55, 55, 0.85 );
    color: #fff;
    padding: 15px;
}
.additional-text img{
    height:80px;
    padding-right: 15px;
    float:left;
}
.triangle:after{
    position:     absolute;
    content:      '';
    bottom:       -20px; /*20-2*/
    left:         0px;
    width:        0;
    height:       0;
    border-left:  0px solid transparent;
    border-right: 20px solid transparent;
    border-top:   20px solid  rgba(55, 55, 55, 0.85 )!important;
}
.reverse-triangle:after{
    position:     absolute;
    content:      '';
    top:       -20px; /*20-2*/
    left:         0px;
    width:        0;
    height:       0;
    border-left:  0px solid transparent;
    border-right: 20px solid transparent;
    border-bottom:   20px solid  rgba(55, 55, 55, 0.85 ); !important;
}
.logo-txt-thesaurus{
    top:30%;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.add-txt-thesaurus-1{
    right:0px;
    top:11%;
}
.add-txt-thesaurus-2{
    left:5%;
    top:44%;
}
.add-txt-thesaurus-3{
    right:33%;
    top:77%;
}
.add-txt-thesaurus-4{
    left:5%;
    top:110%;
}
.dashed-side{
    height: 40%;
    border-left: 3px dashed #333;
    left:10%;
    top:69%;
}