.icon-small.icon-hexa {
    margin-left: 37px;
    margin-right: 38px;

    margin-top: 20px;
    margin-bottom: 15px;
}
.icon-small.icon-box {
    margin-left:46px;
    margin-right: 45px;

    margin-top: 22px;
    margin-bottom: 23px;
}
.icon-small.icon-gear {
    margin-left:41px;
    margin-right: 41px;

    margin-top: 21px;
    margin-bottom: 21px;
}
.icon-small.icon-human {
    margin-left:40px;
    margin-right: 41px;

    margin-top: 15px;
    margin-bottom: 15px;
}