<div class="mainblock">
    <div class="centerblock">
        <!--Цветные иконки-->
        <div class="icons-color-hard">
            <div class="icons-color icon-color-hex">
                <div class="icon-color-container">
                    <div class="img-color-container">
                        <img src="../images/img/4G_2-13.png"/>
                    </div>
                    <div class="tablecell-color tablecell-color-hex">
                        установка двигателя
                    </div>
                </div>
            </div>
            <div class="icons-color icon-color-human" style="margin-top:0px; margin-left: 80px">
                <div class="icon-color-container">
                    <div class="tablecell-color tablecell-color-human">
                        человек-молекула
                    </div>
                </div>
            </div>
            <div class="icons-color icon-color-gear" style="margin-top:0px; margin-left: 160px">
                <div class="icon-color-container">
                    <div class="img-color-container-gear">
                        <img src="../images/img/4G_2-14.png"/>
                    </div>
                    <div class="tablecell-color tablecell-color-gear">
                        чел в тачке бла
                    </div>
                </div>
            </div>
            <div class="icons-color icon-color-box" style="margin-top:0px; margin-left: 240px">
                <div class="icon-color-container">
                    <div class="img-color-container-box">
                        <img src="../images/img/4G_2-13.png"/>
                    </div>
                    <div class="tablecell-color tablecell-color-box">
                        установка двигателя
                    </div>
                </div>
            </div>
        </div>
        <!-- Крючки этапов -->
        <div class="etap-block etap-1">
            <div class="etap-text">
                1 этап
            </div>
        </div>
        <div class="etap-block etap-2">
            <div class="etap-text">
                2 этап
            </div>
        </div>
        <div class="etap-block etap-3">
            <div class="etap-text">
                3 этап
            </div>
        </div>
        <div class="etap-block etap-4">
            <div class="etap-text">
                4 этап
            </div>
        </div>
        <div class="etap-block etap-5">
            <div class="etap-text">
                5 этап
            </div>
        </div>
        <div class="etap-block etap-6">
            <div class="etap-text">
                6 этап
            </div>
        </div>
        <!-- Розовые коробочки -->
        <div class="boxes-hard">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
            <div class="box box-3"></div>
            <div class="box box-4"></div>
            <div class="box box-5"></div>
            <div class="box box-6"></div>
            <div class="box box-7"></div>
            <div class="box box-8"></div>
        </div>
        <!-- Человеки -->
        <div class="humans-hard">
            <div class="human human-1" data-drop="true" onDrop="myCallback" ng-model='list1'
                 data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}"></div>
            <div class="human human-2"></div>
            <div class="human human-3"></div>
            <div class="human human-4"></div>
            <div class="human human-5"></div>
            <div class="human human-6"></div>
        </div>
        <div class="hexahedrons-hard">
            <div class="hexahedron hexahedron-1"></div>
            <div class="hexahedron hexahedron-2"></div>
            <div class="hexahedron hexahedron-3"></div>
            <div class="hexahedron hexahedron-4"></div>
            <div class="hexahedron hexahedron-5"></div>
            <div class="hexahedron hexahedron-6"></div>
        </div>
        <div class="gears-hard">
            <div class="gear gear-1"></div>
            <div class="gear gear-2"></div>
            <div class="gear gear-3"></div>
            <div class="gear gear-4"></div>
            <div class="gear gear-5"></div>
            <div class="gear gear-6"></div>
        </div>
        <!-- Стрелки -->
        <div class="arrow arrow-1"></div>
        <div class="arrow arrow-2"></div>
        <!-- Большая красная кнопка -->
        <div class="bigRedButton">
            <div class="bigRedButton-text">
                запустить конвейер
            </div>
        </div>
    </div>
    <div class="bottomblock">
        <div class="bottomblock-top">
            <div class="grid-4 color-1">
                технологический процесс
            </div>
            <div class="grid-4 color-2">
                персонал
            </div>
            <div class="grid-4 color-3">
                детали
            </div>
            <div class="grid-4 color-4">
                оборудование
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottomblock-bottom color-1" ng-repeat="item in list5" data-drop="true" ng-model='list5'
             data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"
             jqyoui-droppable="{index: {{$index}}}">
            <div class="icons icon-hexa" data-drag="true"
                 data-jqyoui-options="{revert: 'invalid'}"
                 jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">
                <div class="icon-container">
                    <div class="img-container">
                        <img src="../images/img/4G_2-13.png"/>
                    </div>
                    <div class="tablecell tablecell-hex">
                        установка двигателя
                    </div>
                </div>
            </div>
            <div class="icons icon-human" data-drag="true"
                 data-jqyoui-options="{revert: 'invalid'}"
                 jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">
                <div class="icon-container">
                    <div class="tablecell tablecell-human">
                        человек-молекула
                    </div>
                </div>
            </div>
            <div class="icons icon-gear" data-drag="true"
                 data-jqyoui-options="{revert: 'invalid'}"
                 jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">
                <div class="icon-container">
                    <div class="img-container-gear">
                        <img src="../images/img/4G_2-14.png"/>
                    </div>
                    <div class="tablecell tablecell-gear">
                        чел в тачке бла
                    </div>
                </div>
            </div>
            <div class="icons icon-box" data-drag="true"
                 data-jqyoui-options="{revert: 'invalid'}"
                 jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">
                <div class="icon-container">
                    <div class="img-container-box">
                        <img src="../images/img/4G_2-13.png"/>
                    </div>
                    <div class="tablecell tablecell-box">
                        установка двигателя
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>