<div class="mainblock">
    <div class="centerblock">
        <!--Цветные иконки-->

        <!-- Крючки этапов -->
        <div class="etap-block etap-1">
            <div class="etap-text">
                1 этап {{dog}}
            </div>
        </div>
        <div class="etap-block etap-2">
            <div class="etap-text">
                2 этап
            </div>
        </div>
        <div class="etap-block etap-3">
            <div class="etap-text">
                3 этап
            </div>
        </div>
        <div class="etap-block etap-4">
            <div class="etap-text">
                4 этап
            </div>
        </div>
        <div class="etap-block etap-5">
            <div class="etap-text">
                5 этап
            </div>
        </div>
        <div class="etap-block etap-6">
            <div class="etap-text">
                6 этап
            </div>
        </div>
        <!-- Розовые коробочки -->
        <div ng-repeat="group in groups" class="{{group.hard}}">
            <div ng-repeat="item in group.items" class="{{group.name}} {{group.name}}-{{item.num}}" data-drop="true"
                 data-jqyoui-options="{{group.optionsList}}"
                 jqyoui-droppable="{multiple:true, onDrop:'drop()', onOver:'out()', stack:true}" data-drop-id="{{item.id}}">
            </div>
        </div>
        <!-- Стрелки -->
        <div class="arrow arrow-1"></div>
        <div class="arrow arrow-2"></div>
        <!-- Большая красная кнопка -->
        <div class="bigRedButton">
            <div class="bigRedButton-text" ng-click="result()">
                запустить конвейер
            </div>
        </div>
    </div>
    <div class="bottomblock">
        <div class="bottomblock-top">
            <div class="grid-4 color-1" ng-click="selectTab('hexa')">
                технологический процесс
            </div>
            <div class="grid-4 color-2" ng-click="selectTab('human')">
                персонал
            </div>
            <div class="grid-4 color-3" ng-click="selectTab('gear')">
                детали
            </div>
            <div class="grid-4 color-4" ng-click="selectTab('box')">
                оборудование
            </div>
            <div class="clear"></div>
        </div>
        <div ng-repeat="group in groups" class="super-container {{group.name == selectedTab ? 'vis' : 'invis'}}"  data-drop="true"
             data-jqyoui-options="true"
             jqyoui-droppable="{index: {{1}}}">
            <div ng-repeat="item in group.items"
                 class="icons {{ items[item.id].inBasket ? 'icon-small icon-color' : ''}} icon-{{group.name}}"
                 data-drag="true"
                 data-jqyoui-options="{revert: 'invalid', distance:50}"
                 jqyoui-draggable="{index: {{1}},placeholder:true,animate:true, onStop:''}"
                 data-list-id="{{group.name}}"
                 data-drag-id="{{item.id}}">
                <div class="icon-container">
                    <div class="{{group.imgClass}}">
                        <img src="{{group.img}}"/>
                    </div>
                    <div class="tablecell tablecell-{{group.name}}">
                        {{group.text}} {{item.num}} {{ items[item.id].inBasket ? '@' : ''}}
                    </div>
                </div>
            </div>

        </div>

        <div class="bottomblock-bottom color-1">

        </div>
    </div>
</div>