<!doctype html>
<html ng-app>
<head>
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
</head>
<body>
<div ng-init="list1 = ['Chrome', 'Safari', 'Firefox', 'IE'] ">
    <input ng-model="list1" ng-list> <br>
    <input ng-model="list" ng-list> <br>
    <pre>list={{list}}</pre> <br>
    <ol>
        <li ng-repeat="item in list1">
            {{item}}
        </li>
    </ol>
</div>
</body>
</html>